<div class="container">
    <div class="controls">
        <select (change)="onChange($event)">
            <option value="btcusd">BTC/USD</option>
            <option value="ethusd">ETH/USD</option>
            <option value="ethbtc">ETH/BTC</option>
        </select>
        <button (click)="onClick()">Refresh</button>
        
    </div>
    <div class="result">
        <div class="container" *ngFor="let crypto of cryptos">
            <p >Date: {{crypto.timestamp*1000|date: 'dd/MM/yyyy h:mm:ss a'}}</p>
            <p [ngStyle]="bidStyle">Bid: {{crypto.bid}}</p>
            <p [ngStyle]="askStyle">Ask: {{crypto.ask}}</p>
            <p>Refresh:&nbsp; {{count}}</p>
        </div>
    </div>
</div>

