<div class="container">
    <div class="controls">
        <select (change)="onChange($event)">
            <option value="btcusd">BTC/USD</option>
            <option value="ethusd">ETH/USD</option>
            <option value="ethbtc">ETH/BTC</option>
        </select>
        <button (click)="onClick()">Refresh</button>
    </div>
    <div class="result">
        <div class="container" *ngFor="let crypto of cryptos">
            <p>Bid: {{crypto.bid}}</p>
            <p>Ask {{crypto.ask}}</p>
        </div>
    </div>
    

</div>

